<!DOCTYPE html>
<html ng-app="fuey">
<head>
  <title>Fuey</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "angular" %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller='TraceListCtrl'>

<%= yield %>

  <%= javascript_include_tag "foundation" %>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
